$accent: #ff3068;

%raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}

%raleway-300 {
  font-family: 'Raleway-Light',sans-serif;
  font-weight: 300;
}

%roboto-condensed-300 {
  font-family: 'RobotoCondensed-Light',sans-serif;
  font-weight: 300;
}


